* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-zoom);
    font-weight: 900;
}

:root {
    --font-zoom: "Lato", sans-serif;
    --dark: #222222;
    --darker: #000000;
    --alert: #ba2126;
    --white: #ffffff;
    --hover: #bfc0d39f;
    --selection: #4bc700;
    --buttons: #4a4a4a;
    --grey: #3c3f3fc5;
    --username-bg: #474b4b6c;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.align-center{
    text-align: center;
}

.inline-block{
    display: inline-block;
}

.padding{
    padding: 1rem;
}

a{
    text-decoration: none;
    color: var(--white);
}

a:hover, .container div:hover, .container span:hover{
    color: var(--hover);
    cursor: pointer;
}


/* /Region Header */

#app-header{
    height: 10vh;
    background-color: var(--darker);
}

.container{
    position:fixed;
    top: 1rem;
    right: 1rem;
    justify-content: space-between;
    align-items: center;
    z-index: 50;
}

.btn_size{
    background-color: var(--buttons);
    padding: 0.5rem;
    margin: 0.2rem;
    border-radius: 0.5rem;
    opacity: 0.7;
}

.btn_size span{
    margin: 0.2rem;
    color: var(--white);
}

/* /Endregion Header */

/* /Region Main */

#app-main{
    height: 100vh;
    background-color: var(--darker);
}

.card_container{
    width: 95%;
    margin: auto;
    flex-wrap: wrap;
}

.overview img{
    width: 100%;
    max-width: 100%;
}

.img-card{
    width: calc(100% / 7);
    position: relative;
    margin: 0.5rem 0;
}

.overview{
    position: absolute;
    bottom: 2%;
    left: 0%;
    color: var(--white);
    font-size: 0.8rem;
    background-color: var(--username-bg);
    padding: 0.2rem;
}

.fa-microphone-slash{
    display: inline;
    font-size: 1rem;
    margin-right: 0.2rem;
}
/* /Endregion Main */

/* /Region Footer */

nav {
    background-color: var(--dark);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    height: 8vh;
}

.alert{
    color: var(--alert);
}

.selection{
    color: var(--selection);
}

.bg_btn{
    background-color: var(--grey);
    border-radius: 1.1rem;
    margin-right: 1rem;
}

.fa-chevron-up{
    vertical-align: super;
    padding-right: 1rem;
    padding-left: 0.3rem;
}

.align-center .fa-solid{
    font-size: 1.5rem;
}

.fa-user-plus, .fa-user-group, .fa-video, .fa-microphone, .fa-chart-column, .fa-share-from-square, .fa-comment, .fa-record-vinyl, .fa-grip, .fa-ellipsis{
    padding: 0 1.5rem;
}
/* /Endregion Footer */